.chat-main
  .chat-main__top
    .chat-group
      .chat-group__info
        .chat-group__name
          =@group.name
        .chat-group__member
         
          %ul.chat-group__list
          Member：
          - @group.users.each do |user|
            %li.chat-group__list--member= user.name
          
      .chat-group__edit
        = link_to "Edit",edit_group_path(@group)

  .chat-main__center
    = render @messages
      

  .chat-main__bottom
    =form_with model: [@group,@message], html: {class: "contact-form"},local: true do |f|
      .contact-form__left
        =f.text_field :boy, class: 'contact-form__left--textarea',placeholder: 'type a message'
        =f.label :image, class: "contact-form__left--image" do
          = icon('far', 'image')
          = f.file_field :image
      = f.submit 'Send', class: 'contact-form__send'

    