.side-bar
  .side-bar__top
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        = link_to new_group_path,class: "top-items__icon--edit" do
          = icon('far', 'edit', )
        = link_to edit_user_path(current_user),class: "top-items__icon--cog" do
          = icon('fas', 'cog', )
  
  - current_user.groups.each do |group|
    .group
      =link_to "#",class: "group__name" do
        .group__link--name
          = group.name
        .group__link--list
          まだメッセージはありません。

   
    