.side-bar
  .side-bar__top
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        = link_to "#",class: "top-items__icon--edit" do
          = icon('far', 'edit', )
        = link_to edit_user_path(current_user),class: "top-items__icon--cog" do
          = icon('fas', 'cog', )
  .group
    .group__name
      techcamp
    .group__list
      まだメッセージはありません
    .group__name
      techcamp
    .group__list
      まだメッセージはありません
      